<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center" *ngFor="let column of columns">
        {{ column }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flights">
      <td class="text-center">{{ flights.indexOf(flight) + 1 }}</td>
      <td class="text-center">{{ flight.placeOfDeparture }}</td>
      <td class="text-center">{{ setTimeOfDeparture(flight) }}</td>
      <td class="text-center">{{ flight.placeOfArrival }}</td>
      <td class="text-center">{{ setTimeOfArrival(flight) }}</td>
      <td class="text-center">{{ setDate(flight) }}</td>
      <td class="text-center">
        {{ flight.planeCapacity - flight.numberOfPassengers }}
      </td>
      <td class="text-center">
        <a
          class="btn btn-primary options"
          [routerLink]="['/regular-user/flights/', flight.id, 'tickets']"
          >Book ticket(s)</a
        >
      </td>
    </tr>
  </tbody>
</table>
