.form {
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    border-radius: 20px;
    box-sizing: border-box;
    height: 450px;
    padding: 20px;
    width: 620px;
    margin: auto;
    margin-top: 30px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  
  .input-container {
    height: 40px;
    position: relative;
    width: 50%;
  }
  
  .ic1 {
    margin-top: 20px;
  }
  
  .ic2 {
    margin-top: 30px;
    
  }

  .icr {
    margin-left: 300px;
    margin-top: -40px;
  }
  
  .input {
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 12px;
    border-radius: 0.375rem;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 40px;
    outline: 0;
    padding: 4px 10px 0;
    width: 100%;
  }

  .input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) hue-rotate(180deg);
  }

  .input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1) hue-rotate(180deg);
  }

  .text-danger{
    
    color: red;
    font-size: 10px;
    height: 40px;
    outline: 0;
    padding: 4px 10px 0;
    width: 100%;
  }
  
  .cut {
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    color: white;
    border-radius: 10px;
    height: 10px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 30px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  /* .placeholder {
    color: white;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    position: absolute;
    margin-left: -40px;
    top: 20px;
  } */

  .placeholder-date{
    color: white;
    /* background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88); */
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    /* pointer-events: none; */
    position: absolute;
    /* transform-origin: 0 50%;
    transition: transform 200ms, color 200ms; */
    margin-left: -43px;
    top: 20px;
  }

  .input:focus ~ .placeholder-date,
  .input:not(:placeholder-shown) ~ .placeholder-date {
    transform: translateY(-35px) translateX(10px) scale(0.75);
  }
  
   .input:not(:placeholder-shown) ~ .placeholder-date {
    color: white;
  } 

  .input:focus ~ .placeholder-date {
    color: white;
  }


  .placeholder-date1{
    color: white;
    /* background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88); */
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    /* pointer-events: none; */
    position: absolute;
    /* transform-origin: 0 50%;
    transition: transform 200ms, color 200ms; */
    margin-left: -32px;
    top: 20px;
  }

  .input:focus ~ .placeholder-date1,
  .input:not(:placeholder-shown) ~ .placeholder-date1 {
    transform: translateY(-35px) translateX(10px) scale(0.75);
  }
  
   .input:not(:placeholder-shown) ~ .placeholder-date1 {
    color: white;
  } 

  .input:focus ~ .placeholder-date1 {
    color: white;
  }
  
  /* .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-35px) translateX(10px) scale(0.75);
  }
  
   .input:not(:placeholder-shown) ~ .placeholder {
    color: white;
  } 

  .input:focus ~ .placeholder {
    color: white;
  } */
  
  .submit {
    background-color: #023075;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  .submit:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  .submit:active {
    background-color: #023075;
  }


  